body {
    font-family: 'Press Start 2P', cursive;
    background: #2e2e2e;
    margin: 0;
    padding: 0;
    color: #fff;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    color: #ffdd57;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffdd57;
    font-size: 1em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #feb47b;
}

main {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-wrap: wrap;
}

.test-box {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 20px;
    flex: 1;
    min-width: 280px;
}

h2 {
    color: #ffdd57;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #ffdd57;
    border-radius: 4px;
    width: calc(100% - 26px); /* Adjust width to fit inside padding and border */
    color: #000;
}

button {
    background: linear-gradient(45deg, #ffdd57, #ff7e5f);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.1);
}

fieldset {
    border: 2px solid #ffdd57;
    border-radius: 4px;
    padding: 10px;
}

legend {
    color: #ffdd57;
}

label {
    display: block;
    margin-top: 10px;
    color: #ffdd57;
}
